// Colors
$white-color: #fff;
$blue-color: #0099e5;
$pink-color: #00a78e;
$grey-color: #333;

//Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;